mixin header-menu(data)
    div(class='#{data.class}')
        a(class='#{data.class}-item' href='#') Конструктор
        a(class='#{data.class}-item' href='#') Мои велосипеды
        a(class='#{data.class}-item' href='#') Доставка и оплата
        a(class='#{data.class}-item' href='#') Блог